---
import '../styles/global.css';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = '/profile.png',
} = Astro.props;
const socialImage = new URL(image, Astro.site ?? Astro.url);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<meta name="author" content={SITE_TITLE} />
<meta name="robots" content="index,follow" />
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />

<title>{title}</title>
<meta property="og:type" content="website" />
<meta property="og:locale" content="de_AT" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={socialImage} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={socialImage} />
